<h1>Buscando: <small> {{ termino }}</small></h1>
<hr>


<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let item of heroes; let i = index">
        <div class="card animated fadeIn fast">
            <img src="{{ item.img }}" class="card-img-top" [alt]="item.nombre">
            <div class="card-body">
                <h5 class="card-title">{{ item.nombre }}</h5>
                <p class="card-text">{{ item.bio }}</p>
                <p><small class="text-muted"> {{ item.aparicion }} </small></p>
                <div class="d-flex justify-content-end">
                     <button  type="button" class="btn btn-outline-primary btn-block">
                        Ver más...
                    </button> 
                    <!-- <a [routerLink]="['/heroesDetalle', i]" class="btn btn-outline-primary">ver más link...</a> -->
                </div>
            </div>
        </div>
    </div>

</div>